.fieldset{
    background-color: rgb(3, 3, 69);
 background-image: url('https://images.pexels.com/photos/358457/pexels-photo-358457.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
 background-size: 100% 100%;
 background-repeat: no-repeat;
}
.col-6{
    margin-bottom: 30px;
}
label{
   font-weight: 700;
   color: rgb(195, 193, 193);
   
}
label:hover{
    color: rgb(82, 95, 149);
}
button{
    height: 50px;
    width: 100px;
    margin-bottom: 20px;
    border: none;
    box-shadow: 0px 5px 4px black;
    border-radius: 50px;
    font-weight: bold;
    box-shadow: 0px 0px 0px;
    background-color: rgb(6, 6, 83);
    color: gray;
}
button:active{
    transform: translateY(5px);
}
.form{
    background-color: rgb(6, 6, 83);
    color: gray;
}
